@import "@coinbase/onchainkit/styles.css";
@import "tailwindcss";

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* put mintedme-sans.woff2 and mintedme-sans.woff in public/fonts/ */
@font-face {
  font-family: 'Nevera';
  src: url('/fonts/Nevera.woff2') format('woff2'),
       url('/fonts/Nevera.woff') format('woff'),
       url('/fonts/Nevera.otf') format('opentype'); /* optional fallback */
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  html,
  body {
    width: 100%;
    min-height: 100svh;
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
}

@layer base {


 

  :root {
    --background: 267 100% 4%;
    --foreground: 267 60% 96%;
    --card: 267 100% 6%;
    --card-foreground: 267 60% 96%;
    --popover: 267 100% 6%;
    --popover-foreground: 267 60% 96%;
    --primary: 267 100% 70%;
    --primary-foreground: 267 100% 4%;
    --secondary: 267 50% 15%;
    --secondary-foreground: 267 60% 96%;
    --muted: 267 50% 15%;
    --muted-foreground: 267 30% 70%;
    --accent: 267 50% 15%;
    --accent-foreground: 267 60% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 267 50% 20%;
    --input: 267 50% 20%;
    --ring: 267 100% 70%;
    --radius: 0.5rem;

    
    --chart-1: 267 100% 70%;
    --chart-2: 267 72% 35%;
    --chart-3: 267 82% 45%;
    --chart-4: 267 60% 85%;
    --chart-5: 267 50% 60%;

    /* New color palette variables (dark mode) */
    --clr-primary-900: #d8c4f1;
    --clr-primary-600: #ad69ff;
    --clr-primary-400: #6a14d1;
    --clr-primary-100: #5a2797;

    /* Primary variables (dark mode) */
    --clr-primary-a0: #d8c4f1;
    --clr-primary-a10: #ad69ff;
    --clr-primary-a20: #9a56ed;
    --clr-primary-a30: #8742db;
    --clr-primary-a40: #6a14d1;
    --clr-primary-a50: #5a2797;

    /* Surface variables (dark mode) */
    --clr-surface-a0: #0a0512;
    --clr-surface-a10: #150a24;
    --clr-surface-a20: #1f0f36;
    --clr-surface-a30: #2a1448;
    --clr-surface-a40: #35195a;
    --clr-surface-a50: #401e6c;
  }


  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  display: none;
}
